.chart div {
    font: 12px sans-serif;
    float: right;
    clear: right;
    right: 0px;
    text-align: left;
    padding: 3px;
    margin: 10px;
    color: white;
}

img {
    width: 350px;
    height: 300px;
}

#allocatedKey{
    background-color:#0033cc;
    width: 76px;
    color: white;
    font-weight: bold;
    display: inline-block;
}

#unallocatedKey{
    background-color:#668cff;
    width: 96px;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.totalDelegates {
    font: 18px sans-serif;
    font-weight: bold;
    padding: 0px 20px;
}
