.chart div {
    font: 18px sans-serif;
    text-align: right;
    padding: 3px;
    margin: 2px;
    color: white;
}

img {
    width: 200px;
    height: 200px;
}

.totalDelegates {
    font: 22px sans-serif;
    font-style: italic;
}

#allocatedKey{
    background-color:red;
    width: 76px;
    color: blue;
    font-weight:bold;
}

#unallocatedKey{
    background-color:#FF6699;
    width: 96px;
    color: blue;
    font-weight:bold;
}

