.chart div {
    font: 18px sans-serif;
    text-align: right;
    padding: 3px;
    margin: 2px;
    color: white;
}

img {
    width: 200px;
    height: 200px;
}

.total {
    font: 30px sans-serif;
    font-weight: bold;
}