* {
    font-family: "century gothic", sans-serif;
    background-color: #FFD1DC;
}

.chart div{
    font: 10px sans-serif;
    background-color: #B23535;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
    border: none;
}